.calculator {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	padding: 20px;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 250px;
	margin: 0 auto;
  }
  
  input[type="text"] {
	grid-column: 1 / -1;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 32px;
	text-align: right;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
  }
  
  button {
	font-size: 24px;
	padding: 8px 12px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	color: #333;
	background-color: #fff;
	transition: all 0.2s ease-in-out;
	width: calc(100% - 2px); /* subtract 2px for border */
  }
  
  #clear,
  #backspace {
	background-color: #f2f2f2;
	grid-row: 2;
	width:60px;
	margin-right:13px;
  }


  
  #backspace {
	grid-column: 2 / span 2;
  }
  
  #equals {
	background-color: #4CAF50;
	color: #fff;
	grid-row: 2;
	margin-left: 21px;
	grid-column: 3 / span 2; /* set to span 2 columns */
  }
  